<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数字专辑销售数据</title>

    <link rel="stylesheet" type="text/css" href="https://lib.baomitu.com/semantic-ui/2.4.1/semantic.min.css">
    <script crossorigin="anonymous" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://lib.baomitu.com/semantic-ui/2.4.1/semantic.min.js"></script>

    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?5a23a22a8b0592235a20280da39e127b";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>
<body>
    <p>*大约30分钟更新一次。<br>
    *暂缺虾米音乐数据。咪咕音乐销量前端仅显示一张专辑，其余无法获得。</p>
    <table class="ui blue table">
        <thead>
        <tr><th>专辑</th>
            <th>总销量（元）</th>
            <th>QQ音乐</th>
            <th>网易云音乐</th>
            <th>酷狗音乐</th>
            <th>酷我音乐</th>
            <th>咪咕音乐</th>
        </tr></thead>
        <tbody>
        {% for album in album_list %}
        <tr>
            <td>
                <h4 class="ui header">
                    《{{ album.title }}》{{ album.singer }} <div class="sub header">{{ album.release_date }}&nbsp;&nbsp;{{ album.price }}元</div>
                </h4>
            </td>
            <td>{{ album.money }}</td>
            <td>
                {% if album.qq_id %}
                    {% if album.qq_id != 656743 %}
                    <a href="https://y.qq.com/m/digitalbum/gold/index.html?id={{ album.qq_id }}" target="_blank">
                    {% else %}
                    <a href="https://y.qq.com/m/digitalbum/silver/index.html?id={{ album.qq_id }}" target="_blank">
                    {% endif %}
                    {% if album.qq_count > 0 %}
                        {% if album.album_only %}{{ album.qq_count }}张{% else %}{{ album.qq_song_count }}首{% endif %}<br>{{ album.qq_money }}元
                    {% else %}
                        暂缺
                    {% endif %}
                    </a>
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if album.wyy_id %}
                    {% if album.wyy_id != 5856052 %}
                    <a href="https://music.163.com/store/newalbum/detail?id={{ album.wyy_id }}" target="_blank">
                    {% else %}
                    <a href="https://music.163.com/store/product/detail?id={{ album.wyy_id }}" target="_blank">
                    {% endif %}
                    {% if album.wyy_count > 0 %}
                        {% if album.album_only %}{{ album.wyy_count }}张{% else %}{{ album.wyy_song_count }}首{% endif %}<br>{{ album.wyy_money }}元
                    {% else %}
                        暂缺
                    {% endif %}
                    </a>
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if album.kugou_id %}
                    {% if album.kugou_id <= 38901 %}
                    <a href="http://huodong.kugou.com/2014/html/pc_commonchargeV2/index_{{ album.kugou_id }}.html" target="_blank">
                    {% elif album.kugou_id <= 60748 %}
                    <a href="http://zhuanji.kugou.com/html/mobile_commonchargeV2/index_{{ album.kugou_id }}.html" target="_blank">
                    {% else %}
                    <a href="http://zhuanjistatic.kugou.com/html/pc_commonchargeV3/index_{{ album.kugou_id }}.html" target="_blank">
                    {% endif %}
                    {% if album.kugou_count > 0 %}
                        {% if album.album_only %}{{ album.kugou_count }}张{% else %}{{ album.kugou_song_count }}首{% endif %}<br>{{ album.kugou_money }}元
                    {% else %}
                        暂缺
                    {% endif %}
                    </a>
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if album.kuwo_id %}
                    <a href="http://vip1.kuwo.cn/fans/fans/template/index.html?key={{ album.kuwo_id }}" target="_blank">
                    {% if album.kuwo_count > 0 %}
                        {% if album.album_only %}{{ album.kuwo_count }}张{% else %}{{ album.kuwo_song_count }}首{% endif %}<br>{{ album.kuwo_money }}元
                    {% else %}
                        暂缺
                    {% endif %}
                    </a>
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if album.migu_id %}
                    <a href="http://h5.nf.migu.cn/app/v3/p/digital-album/detail/index.html?id={{ album.migu_id }}" target="_blank">
                    {% if album.migu_count > 0 %}
                        {% if album.album_only %}{{ album.migu_count }}张{% else %}{{ album.migu_song_ccount }}首{% endif %}<br>{{ album.migu_money }}元
                    {% else %}
                        暂缺
                    {% endif %}
                    </a>
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>