{% extends "yyj/base.html" %}

{% block title %}修改密码{% endblock %}

{% block content %}
<div class="ui basic segment">
    {% for field in form %}
        {% if field.errors %}
            <div class="ui negative message">{{ field.errors }}</div>
        {% endif %}
    {% endfor %}
    <form class="ui form" method="post" action="{% url 'yyj:password_change' %}">
        {% csrf_token %}
        {% for field in form %}
        <div class="inline field">
            {{ field.label_tag }} {{ field }}
        </div>
        {% if field.help_text %}
            <p>{{ field.help_text|safe }}</p>
        {% endif %}
        {% endfor %}
        <input class="ui button" type="submit" value="修改密码">
    </form>
</div>
{% endblock %}
