{% extends "yyj/base.html" %}

{% block title %}数据接口{% endblock %}

{% block content %}
<div class="ui basic segment">
    <h2 class="ui pink header">查询接口<div class="sub header">以下接口全部返回json数据</div></h2>
    1. 查询某日演出<br>
    接口格式：http://y.saoju.net/yyj/api/search_day/?date={}<br>
    例：http://y.saoju.net/yyj/api/search_day/?date=2023-07-25<br>
    <div class="ui bulleted list">
        <div class="item">"date": "2023-07-25"</div>
        <div class="item">
            <div>"show_list":</div>
            <div class="list">
                <div class="item">"city": "X城市"</div>
                <div class="item">"musical": "XX音乐剧"</div>
                <div class="item">"theatre": "XX剧院"</div>
                <div class="item">"time": "19:30"</div>
                <div class="item">
                    <div>"cast":</div>
                    <div class="list">
                        <div class="item">{"role": "A角色", "artist": "X演员"}</div>
                        <div class="item">{"role": "B角色", "artist": "Y演员"}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    2. 查询某日某城市演出<br>
    接口格式：http://y.saoju.net/yyj/api/search_day/?date={}&city={}<br>
    例：http://y.saoju.net/yyj/api/search_day/?date=2023-07-25&city=上海<br>
    <div class="ui bulleted list">
        <div class="item">"date": "2023-07-25"</div>
        <div class="item">"city": "上海"</div>
        <div class="item">
            <div>"show_list":</div>
            <div class="list">
                <div class="item">"musical": "XX音乐剧"</div>
                <div class="item">"theatre": "XX剧院"</div>
                <div class="item">"time": "19:30"</div>
                <div class="item">
                    <div>"cast":</div>
                    <div class="list">
                        <div class="item">{"role": "A角色", "artist": "X演员"}</div>
                        <div class="item">{"role": "B角色", "artist": "Y演员"}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 class="ui pink header">数据接口<div class="sub header">以下接口全部返回json数据</div></h2>
    1. 获取全部演员/主创<br>
    http://y.saoju.net/yyj/api/artist/<br>
    <div class="ui bulleted list">
        <div class="item">pk: 2591（代表数据库中的主键，即该条数据的id）</div>
        <div class="item">model: "yyj.artist"（代码里的模型名称）</div>
        <div class="item">
            <div>fields:</div>
            <div class="list">
                <div class="item">name: "XX演员/主创"（姓名）</div>
                <div class="item">note: "其他信息"（一般用于同名时的备注信息）</div>
            </div>
        </div>
    </div>
    2. 获取全部制作出品方<br>
    http://y.saoju.net/yyj/api/produce/<br>
    <div class="ui bulleted list">
        <div class="item">pk: 368</div>
        <div class="item">model: "yyj.produce"</div>
        <div class="item">
            <div>fields:</div>
            <div class="list">
                <div class="item">name: "XX公司"</div>
            </div>
        </div>
    </div>
    3. 获取全部音乐剧<br>
    http://y.saoju.net/yyj/api/musical/<br>
    <div class="ui bulleted list">
        <div class="item">pk: 267</div>
        <div class="item">model: "yyj.musical"</div>
        <div class="item">
            <div>fields:</div>
            <div class="list">
                <div class="item">name: "XX音乐剧"</div>
                <div class="item">is_original: true（原创性，true代表原创，false代表引进剧）</div>
                <div class="item">progress: "SS"（进度，SS代表已上演，DD代表已定档，ZZ代表制作中）</div>
                <div class="item">premiere_date: "2023-10-24"（首演时间）</div>
                <div class="item">premiere_date_text: "2023年10月"（如首演时间确定在某一天，则此项为null，如果不确定，则此项存储大致的首演时间文字，且premiere_date字段的时间作废）</div>
                <div class="item">info: "其他信息"（一般存储改编原作、原版主创等信息）</div>
            </div>
        </div>
    </div>
    4. 获取全部音乐剧出品制作信息<br>
    http://y.saoju.net/yyj/api/musicalproduces/<br>
    <div class="ui bulleted list">
        <div class="item">pk: 667</div>
        <div class="item">model: "yyj.musicalproduces"</div>
        <div class="item">
            <div>fields:</div>
            <div class="list">
                <div class="item">musical: 1（该音乐剧出品制作信息所关联的音乐剧id，即yyj.musical的pk值）</div>
                <div class="item">produce: 1（该音乐剧出品制作信息所关联的制作出品方id，即yyj.produce的pk值）</div>
                <div class="item">title: "出品"（制作出品信息）</div>
                <div class="item">seq: 1（该制作出品信息在出品信息表中的排位）</div>
            </div>
        </div>
    </div>
    5. 获取全部音乐剧主创信息<br>
    http://y.saoju.net/yyj/api/musicalstaff/<br>
    <div class="ui bulleted list">
        <div class="item">pk: 2587</div>
        <div class="item">model: "yyj.musicalstaff"</div>
        <div class="item">
            <div>fields:</div>
            <div class="list">
                <div class="item">musical: 1（该音乐剧主创信息所关联的音乐剧id）</div>
                <div class="item">artist: 1（该音乐剧主创信息所关联的主创id，即yyj.artist的pk值）</div>
                <div class="item">job: "作曲"（主创信息内容）</div>
                <div class="item">seq: 1（该主创信息在音乐剧主创信息表中的排位）</div>
            </div>
        </div>
    </div>
    6. 获取全部角色<br>
    http://y.saoju.net/yyj/api/role/<br>
    <div class="ui bulleted list">
        <div class="item">pk: 933</div>
        <div class="item">model: "yyj.role"</div>
        <div class="item">
            <div>fields:</div>
            <div class="list">
                <div class="item">musical: 63（该角色所属的音乐剧id，即yyj.musical的pk值）</div>
                <div class="item">name: "XX角色"</div>
                <div class="item">seq: 1（该角色在音乐剧卡司表中的排位）</div>
            </div>
        </div>
    </div>
    7. 获取全部音乐剧卡司信息<br>
    http://y.saoju.net/yyj/api/musicalcast/<br>
    <div class="ui bulleted list">
        <div class="item">pk: 2721</div>
        <div class="item">model: "yyj.musicalcast"</div>
        <div class="item">
            <div>fields:</div>
            <div class="list">
                <div class="item">role: 1（该音乐剧卡司信息所关联的角色id，即yyj.role的pk值）</div>
                <div class="item">artist: 16（该音乐剧卡司信息所关联的演员id，即yyj.artist的pk值）</div>
                <div class="item">seq: 1（该卡司信息在该角色演员列表中的排位）</div>
            </div>
        </div>
    </div>
    8. 获取全部城市<br>
    http://y.saoju.net/yyj/api/city/<br>
    <div class="ui bulleted list">
        <div class="item">pk: 74</div>
        <div class="item">model: "yyj.city"</div>
        <div class="item">
            <div>fields:</div>
            <div class="list">
                <div class="item">name: "XX城市"</div>
                <div class="item">seq: 1（该城市在剧院列表的排位，一般按照该城市音乐剧演出数量手动调整）</div>
            </div>
        </div>
    </div>
    9. 获取全部剧院<br>
    http://y.saoju.net/yyj/api/theatre/<br>
    <div class="ui bulleted list">
        <div class="item">pk: 242</div>
        <div class="item">model: "yyj.theatre"（此模型仅代表整个剧院，不指代具体的剧场舞台，因为一个剧院中可能包含多个剧场。但诸如亚洲大厦内的小剧场，因为是独立运营的空间，所以暂时作为不同的theatre处理。）</div>
        <div class="item">
            <div>fields:</div>
            <div class="list">
                <div class="item">city: 8（该剧院所在的城市id，即yyj.city的pk值）</div>
                <div class="item">name: "XX剧院"</div>
            </div>
        </div>
    </div>
    10. 获取全部剧场舞台<br>
    http://y.saoju.net/yyj/api/stage/<br>
    <div class="ui bulleted list">
        <div class="item">pk: 258</div>
        <div class="item">model: "yyj.stage"</div>
        <div class="item">
            <div>fields:</div>
            <div class="list">
                <div class="item">theatre: 8（该剧场舞台所属剧院id，即yyj.theatre的pk值）</div>
                <div class="item">name: "大剧场"（如果一个剧院只有一个剧场，那此项一般为空）</div>
                <div class="item">seats: 673（座位数）</div>
            </div>
        </div>
    </div>
    11. 获取全部巡演计划<br>
    http://y.saoju.net/yyj/api/tour/<br>
    <div class="ui bulleted list">
        <div class="item">pk: 227</div>
        <div class="item">model: "yyj.tour"</div>
        <div class="item">
            <div>fields:</div>
            <div class="list">
                <div class="item">musical: 63（该巡演计划所属的音乐剧id）</div>
                <div class="item">name: "2023全国巡演"</div>
                <div class="item">is_long_term: false（是否长期驻演，true代表是，false代表否）</div>
                <div class="item">begin_date: "2023-09-21"（巡演开始时间）</div>
                <div class="item">end_date: "2023-12-17"（巡演结束时间，如果is_long_term为true，则此项作废）</div>
            </div>
        </div>
    </div>
    12. 获取全部日程排期<br>
    http://y.saoju.net/yyj/api/schedule/<br>
    <div class="ui bulleted list">
        <div class="item">pk: 701</div>
        <div class="item">model: "yyj.schedule"</div>
        <div class="item">
            <div>fields:</div>
            <div class="list">
                <div class="item">tour: 240（该日程排期所属的巡演id，即yyj.tour的pk值）</div>
                <div class="item">is_long_term: false（是否长期驻演，true代表是，false代表否）</div>
                <div class="item">begin_date: "2023-09-21"（演出排期开始时间）</div>
                <div class="item">end_date: "2023-12-17"（演出排期结束时间，如果is_long_term为true，则此项作废）</div>
                <div class="item">stage: 15（该日程排期的演出剧场舞台id，即yyj.stage的pk值）</div>
            </div>
        </div>
    </div>
    13. 获取某一日程排期下的全部演出<br>
    http://y.saoju.net/yyj/api/schedule/{}/show/<br>
    其中{}代表该日程排期的id，即yyj.schedule的pk值。例：http://y.saoju.net/yyj/api/schedule/701/show/<br>
    <div class="ui bulleted list">
        <div class="item">pk: 8115</div>
        <div class="item">model: "yyj.show"</div>
        <div class="item">
            <div>fields:</div>
            <div class="list">
                <div class="item">time: "2023-10-02T11:30:00Z"（演出时间，UTC格式，换算为北京时间需+8小时）</div>
            </div>
        </div>
    </div>
    14. 获取某一场演出的全部卡司<br>
    http://y.saoju.net/yyj/api/show/{}/cast/<br>
    其中{}代表该演出的id，即yyj.show的pk值。例：http://y.saoju.net/yyj/api/show/8618/cast/<br>
    <div class="ui bulleted list">
        <div class="item">pk: 2114（卡司信息id，即yyj.musicalcast的pk）</div>
        <div class="item">model: "yyj.musicalcast"</div>
        <div class="item">fields:{}（此项为空，无需包含其他信息。根据卡司信息组合，即可知道当日演出演员，并根据卡司信息对应的角色信息seq值可得角色排位。</div>
    </div>
</div>
{% endblock %}
