{% extends "yyj/base.html" %}

{% block title %}{{ artist.name }}过往演出{% endblock %}

{% block content %}
<div class="ui basic segment">
    <h2 class="ui header"><a href="{{ artist.get_absolute_url }}">{{ artist.name }}</a></h2>
</div>
{% if show_list %}
<div class="ui basic segment">
    <h3 class="ui pink header">
        过往演出
        {% if other %}
        <a href="?other=0" class="ui pink right floated basic button">不显示同场演员</a>
        {% else %}
        <a href="?other=1" class="ui pink right floated basic button">显示同场演员</a>
        {% endif %}
    </h3>
</div>
<table class="ui striped celled pink unstackable compact table">
    <thead>
        <tr>
            <th class="center aligned">时间</th>
            <th class="center aligned">音乐剧</th>
            <th class="center aligned">角色</th>
            {% if other %}<th class="center aligned">同场演员</th>{% endif %}
            <th class="center aligned">剧院</th>
        </tr>
    </thead>
    <tbody>
        {% for show in show_list %}
        <tr>
            <td class="center aligned">
                {% ifchanged show.time.date %}{{ show.time|date }} {{ show.time|date:"l" }}{% endifchanged %}
                {{ show.time|time }}
            </td>
            <td class="center aligned">
                <h4 class="ui header"><a href="{{ show.role.musical.get_absolute_url }}">{{ show.role.musical.name }}</a></h4>
            </td>
            <td class="center aligned">
                {{ show.role.name }}
            </td>
            {% if other %}
            <td>
                {% for cast in show.other_cast %}
                <a href="{{ cast.artist.get_absolute_url }}">{{ cast.artist.name }}</a>
                {% endfor %}
            </td>
            {% endif %}
            <td class="center aligned">
                <a href="{{ show.schedule.stage.theatre.city.get_absolute_url }}">
                    {{ show.schedule.stage.theatre.city.name }}
                </a>
                <a href="{{ show.schedule.stage.get_absolute_url }}">
                    {{ show.schedule.stage.theatre.name }}{{ show.schedule.stage.name|default_if_none:"" }}
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if show_list.paginator.num_pages > 1 %}
<div class="ui pagination menu">
    {% if show_list.has_previous %}
        <a href="?page=1" class="item"><i class="step backward icon"></i></a>
        <a href="?page={{ show_list.previous_page_number }}" class="item"><i class="chevron left icon"></i></a>
    {% endif %}
    <a href="?page={{ show_list.number }}" class="active item">{{ show_list.number }}</a>
    {% if show_list.has_next %}
        <a href="?page={{ show_list.next_page_number }}" class="item"><i class="chevron right icon"></i></a>
        <a href="?page={{ show_list.paginator.num_pages }}" class="item"><i class="step forward icon"></i></a>
    {% endif %}
</div>
{% endif %}
{% endif %}
{% endblock %}
