{% extends "yyj/base.html" %}

{% block title %}{{ artist.name }}过往演出{% endblock %}

{% block content %}
<div class="ui basic segment">
    <h2 class="ui header">{{ artist.name }}</h2>
</div>
{% if show_list %}
<div class="ui basic segment">
    <h3 class="ui pink header">过往演出</h3>
    {% for show in show_list %}
        {{ show.time|date:"Y-m-d H:i" }}
        <a href="{{ show.schedule.stage.theatre.city.get_absolute_url }}">{{ show.schedule.stage.theatre.city.name }}</a>
        <a href="{{ show.schedule.stage.get_absolute_url }}">{{ show.schedule.stage.theatre.name }}</a>
        <a href="{{ show.schedule.tour.musical.get_absolute_url }}">{{ show.schedule.tour.musical.name }}</a><br>
    {% endfor %}
</div>
{% if show_list.paginator.num_pages > 1 %}
<div class="ui pagination menu">
    {% if show_list.has_previous %}
        <a href="?page=1" class="item"><i class="step backward icon"></i></a>
        <a href="?page={{ show_list.previous_page_number }}" class="item"><i class="chevron left icon"></i></a>
    {% endif %}
    <a href="?page={{ show_list.number }}" class="active item">{{ show_list.number }}</a>
    {% if show_list.has_next %}
        <a href="?page={{ show_list.next_page_number }}" class="item"><i class="chevron right icon"></i></a>
        <a href="?page={{ show_list.paginator.num_pages }}" class="item"><i class="step forward icon"></i></a>
    {% endif %}
</div>
{% endif %}
{% endif %}
{% endblock %}
