{% extends "yyj/base.html" %}

{% block title %}数据获取方法{% endblock %}

{% block content %}
<div class="ui basic segment">
    <h2 class="ui pink header">卡司表获取方法</h2>
    1. 关注制作公司、剧院微信公众号或微博，在微信中打开卡司排期表，或将卡司表发送至微信。<br>
    2. 在微信中点击排期图片，长按，选择"提取文字"。<br>
    3. "全选"，"复制"，将文字复制到纯文本编辑软件，删除多余信息，简单调整格式，让每一个信息之间有空格或制表符等间隔符。<br>
    4. 全选文字，复制，打开Excel，"粘贴"→"使用文本导入向导"，或保存3中的文本文件，在Excel中选择"数据"→"获取外部数据"→"从文本"。<br>
    5. 文本导入向导中选择"分隔符号"，下一步，勾选"制表符""空格"，下一步，针对首列数据可选择"日期YMD"，完成。<br>
    如以上方法获取到的卡司表格式错乱，还可以通过微信、QQ的截图提取文字功能按列截取卡司信息：
    在电脑上打开卡司表图片，Windows使用微信，Mac使用QQ或微信，截图一列，文字识别，复制到表格中，重复操作，直至全部截取完成。<br>
    截图法准确度相较微信图片的直接提取文字功能略低，需要仔细核对，更正错字。<br>
    <h2 class="ui pink header">演出信息获取方法</h2>
    1. 剧院、院线、制作公司微信公众号或微博<br>
    2. 大麦官网，分类→全国→话剧歌剧→音乐剧<br>
    3. 保利票务官网，全国→音乐剧<br>
    4. 猫眼演出官网，搜索"音乐剧"<br>
    5. 戏剧日历小程序、各地音乐剧bot、小红书推送<br>
</div>
{% endblock %}
