{% extends "yyj/base.html" %}

{% block title %}{{ musical.name }}{% endblock %}

{% block content %}
<div class="ui basic segment">
    <h1 class="ui header">{{ musical.name }}</h1>
    <p>
        {% if musical.is_original %}原创{% else %}引进{% endif %}
        <br>首演：{% if musical.premiere_date_text %}{{ musical.premiere_date_text }}{% else %}{{ musical.premiere_date }}{% endif %}
        <br>{{ musical.info|linebreaksbr }}
        {% for produce in produces %}
        {% ifchanged produce.title %}<br>{{ produce.title }}：{% else %} {% endifchanged %}
        <a href="{{ produce.produce.get_absolute_url }}">{{ produce.produce.name }}</a>
        {% endfor %}
    </p>
    {% if staff_list %}
    <strong>主创</strong>
    {% for staff in staff_list %}
    {% ifchanged staff.job %}<br>{{ staff.job }}：{% else %} {% endifchanged %}
    <a href="{{ staff.artist.get_absolute_url }}">{{ staff.artist.name }}</a>
    {% endfor %}
    {% endif %}
    {% if cast_list %}<p><br>
    <strong>当年演出卡司（按已演出场次）</strong>
    {% for cast in cast_list %}
        {% ifchanged cast.role %}<br>{{ cast.role.name }}：{% else %} {% endifchanged %}
        <a href="{{ cast.artist.get_absolute_url }}">{{ cast.artist.name }}</a> {{ cast.show_count }}
    {% endfor %}</p>
    {% endif %}
    {% if tour_list %}
    <h3 class="ui pink header">最新演出</h3>
    <div>
    {% for tour in tour_list %}
        <strong>
            {{ tour.name|default_if_none:"" }}
            <a href="{{ tour.get_absolute_url }}" class="item">演出排期>></a>
        </strong><br><br>
    {% endfor %}
    </div>
    {% endif %}
    {% if tour_list_history %}
    <h3 class="ui pink header">过往演出</h3>
    <div>
    {% for tour in tour_list_history %}
        <a href="{{ tour.get_absolute_url }}" class="item">{{ tour.name|default_if_none:"演出排期" }}</a><br>
    {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
