{% extends "yyj/base.html" %}

{% block title %}
{{ schedule.tour.musical.name }} {{ schedule.stage.theatre.city.name }}
{% endblock %}

{% block content %}
<div class="ui basic segment">
    <h2 class="ui header">
        <a href="{{ schedule.tour.musical.get_absolute_url }}">{{ schedule.tour.musical.name }}</a>
        <div class="sub header">{{ schedule.tour.name|default_if_none:"" }}</div>
    </h2>
    <i class="map marker alternate icon"></i>
    <strong><a href="{{ schedule.stage.theatre.city.get_absolute_url }}">{{ schedule.stage.theatre.city.name }}</a>
    ·
    <a href="{{ schedule.stage.get_absolute_url }}">
        {{ schedule.stage.theatre.name }}{{ schedule.stage.name|default_if_none:"" }}
    </a></strong><br>
    <i class="calendar alternate icon"></i>
    <strong>
        {% if schedule.tour.musical.premiere_date_text %}
            {{ schedule.tour.musical.premiere_date_text }}
        {% else %}
            {{ schedule.begin_date|date:"Y-m-d" }}
        {% endif %}
        {% if schedule.is_long_term %}
            起
        {% else %}
            {% if schedule.end_date != schedule.begin_date%}{{ schedule.end_date|date:"Y-m-d" }}{% endif %}
        {% endif %}
    </strong>
    {% if schedule.shows %}
        {% if schedule.has_cast_table %}
        <p>
            <form action="{% url 'yyj:yyj.schedule_detail' schedule.id %}" class="ui small action input">
                <input type="search" name="artist" value="{{ search_cast|default_if_none:'' }}" placeholder="搜索演员">
                <button class="ui pink icon button" type="submit"><i class="search icon"></i></button>
            </form>
        </p>
        <table class="ui collapsing single line unstackable striped compact table">
            <thead>
            <tr>
                <th class="center aligned">演出时间</th>
                {% for role in role_list %}
                <th class="center aligned">{{ role.name }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for show in schedule.shows %}
            <tr>
                <td class="right aligned">
                    {% ifchanged show.time.date %}{{ show.time|date:"n月j日 D" }}{% endifchanged %}
                    {{ show.time|time }}
                </td>
                {% for show_cast in show.cast_table %}
                <td class="center aligned">
                    {% for cast in show_cast %}
                    <a href="{{ cast.artist.get_absolute_url }}">{{ cast.artist.name }}</a>
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div>
            {% for show in schedule.shows %}
                {% ifchanged show.time.date %}
                    {% if not forloop.first %}<br>{% endif %}{{ show.time|date:"n月j日 D" }}
                {% endifchanged %}
                {{ show.time|time }}
            {% endfor %}
            </div>
        {% endif %}
    {% endif %}
    {% if schedule.show_list_done %}
        <a href="{% url 'yyj:yyj.schedule_show_index' schedule.id %}">
            <strong>查看已完成>></strong>
        </a>
    {% endif %}
    {% if other_schedule_list %}
    <h3 class="ui pink header">其他日程</h3>
    {% for schedule in other_schedule_list %}
        <a href="{{ schedule.get_absolute_url }}">
            {{ schedule.stage.theatre.city.name }}
            {{ schedule.begin_date|date:"n.j" }}-{{ schedule.end_date|date:"n.j" }}
            {{ schedule.stage.theatre.name }}{{ schedule.stage.name|default_if_none:"" }}
        </a><br>
    {% endfor %}
    <a href="{{ schedule.tour.get_absolute_url }}">查看全部>></a><br>
    {% endif %}
</div>
{% endblock %}
