{% extends "yyj/base.html" %}

{% block title %}搜索结果{% endblock %}

{% block content %}
<div class="ui basic segment">
    {% if artist_list %}
    <h2 class="ui pink header">演员/主创</h2>
    <div class="ui list">
    {% for artist in artist_list %}
        <div class="item"><a href="{{ artist.get_absolute_url }}">{{ artist.name }}</a></div>
    {% endfor %}
    </div>
    {% endif %}
    {% if musical_list %}
    <h2 class="ui pink header">音乐剧</h2>
    <div class="ui list">
    {% for musical in musical_list %}
    <div class="item"><a href="{{ musical.get_absolute_url }}">{{ musical.name }}</a></div>
    {% endfor %}
    </div>
    {% endif %}
    {% if city_list %}
    <h2 class="ui pink header">城市</h2>
    <div class="ui list">
    {% for city in city_list %}
    <div class="item"><a href="{{ city.get_absolute_url }}">{{ city.name }}</a></div>
    {% endfor %}
    </div>
    {% endif %}
    {% if theatre_list %}
    <h2 class="ui pink header">剧院</h2>
    <div class="ui list">
    {% for theatre in theatre_list %}
    <div class="item"><a href="{{ theatre.get_absolute_url }}">{{ theatre.name }}</a></div>
    {% endfor %}
    </div>
    {% endif %}
    {% if produce_list %}
    <h2 class="ui pink header">制作公司</h2>
    <div class="ui list">
    {% for produce in produce_list %}
    <div class="item"><a href="{{ produce.get_absolute_url }}">{{ produce.name }}</a></div>
    {% endfor %}
    </div>
    {% endif %}
    {% if not musical_list and not artist_list and not city_list and not theatre_list and not produce_list %}
    <p>抱歉，未找到结果。</p>
    {% endif %}
</div>
{% endblock %}
