{% extends "yyj/base.html" %}

{% block title %}{{ year }}年演出{% endblock %}

{% block content %}
<p>
    <div class="ui right floated buttons">
    <a href="{% url 'yyj:yyj.show_year_index_city' 2023 %}" class="ui pink basic button">
       按城市查询
    </a>
    <a href="{% url 'yyj:yyj.show_year_index_artist' 2023 %}" class="ui pink basic button">
       按演员查询
    </a>
</div>
    &nbsp;&nbsp;&nbsp;&nbsp;音乐剧：{{ musical_list|length }}部<br>&nbsp;&nbsp;&nbsp;&nbsp;总场次：{{ count }}场
</p>
<table class="ui pink unstackable table">
    <thead>
    <tr>
        <th>音乐剧</th>
        <th class="single line">场次</th>
        <th>详情</th>
    </tr>
    </thead>
    <tbody>
    {% for musical in musical_list %}
    <tr class="top aligned">
        <td><h4 class="ui header"><a href="{{ musical.get_absolute_url }}" target="_blank">{{ musical.name }}</a></h4></td>
        <td>{{ musical.num_show }}</td>
        <td>
            {% for tour in musical.tour_list %}
                <a href="{{ tour.get_absolute_url }}" target="_blank">{{ tour.name|default_if_none:"演出" }}</a>
                {{ tour.num_show }}场
                <br>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<script>
$("[data-label='year']").attr("class","active item");
</script>
{% endblock %}
