{% extends "yyj/base.html" %}

{% block title %}{{ year }}年演出{% endblock %}

{% block content %}
<p>
<div class="ui right floated buttons">
    <a href="{% url 'yyj:yyj.show_year_index' 2023 %}" class="ui pink basic button">
       按音乐剧查询
    </a>
    <a href="{% url 'yyj:yyj.show_year_index_city' 2023 %}" class="ui pink basic button">
       按城市查询
    </a>
</div>
    <br>&nbsp;&nbsp;&nbsp;&nbsp;演员：{{ artist_list.paginator.count }}人
</p>
<table class="ui pink unstackable table">
    <thead>
    <tr>
        <th>演员</th>
        <th class="single line">场次</th>
        <th>详情</th>
    </tr>
    </thead>
    <tbody>
    {% for artist in artist_list %}
    <tr class="top aligned">
        <td><h4 class="ui header"><a href="{{ artist.get_absolute_url }}" target="_blank">{{ artist.name }}</a></h4></td>
        <td>{{ artist.show_count }}</td>
        <td>
            {% for cast in artist.cast_list %}
                <a href="{{ cast.role.musical.get_absolute_url }}" target="_blank">{{ cast.role.musical.name }}</a>
                {{ cast.role.name }}
                {{ cast.num_show }}场
                <br>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% if artist_list.paginator.num_pages > 1 %}
<div class="ui pagination menu">
    {% for page in artist_list.paginator.page_range %}
        {% if artist_list.number == page %}
            <a href="?page={{ page }}" class="active item">{{ page }}</a>
        {% else %}
            <a href="?page={{ page }}" class="item">{{ page }}</a>
        {% endif %}
    {% endfor %}
</div>
{% endif %}
<script>
$("[data-label='year']").attr("class","active item");
</script>
{% endblock %}
