{% extends "yyj/base.html" %}

{% block title %}{{ stage.theatre.name }}{{ stage.name|default_if_none:"" }}过往演出{% endblock %}

{% block content %}
<div class="ui basic segment">
    <h2 class="ui header">{{ stage.theatre.name }}{{ stage.name|default_if_none:"" }}</h2>
</div>
{% if show_list %}
<div class="ui basic segment"><h3 class="ui pink header">过往演出</h3></div>
<table class="ui celled pink single line unstackable collapsing compact table">
    <thead>
        <tr>
            <th class="center aligned">演出时间</th>
            <th class="center aligned">剧目</th>
            <th class="center aligned">卡司</th>
        </tr>
    </thead>
    <tbody>
        {% for show in show_list %}
        <tr>
            <td class="right aligned">
                {% ifchanged show.time.date %}{{ show.time|date }}{% endifchanged %}
                {{ show.time|time }}
            </td>
            <td class="center aligned">
                <strong><a href="{{ show.schedule.tour.musical.get_absolute_url }}">{{ show.schedule.tour.musical.name }}</a></strong>
            </td>
            <td>
                {% for show_cast in show.cast_list %}
                <a href="{{ show_cast.artist.get_absolute_url }}">{{ show_cast.artist.name }}</a>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if show_list.paginator.num_pages > 1 %}
<div class="ui pagination menu">
    {% if show_list.has_previous %}
        <a href="?page=1" class="item"><i class="step backward icon"></i></a>
        <a href="?page={{ show_list.previous_page_number }}" class="item"><i class="chevron left icon"></i></a>
    {% endif %}
    <a href="?page={{ show_list.number }}" class="active item">{{ show_list.number }}</a>
    {% if show_list.has_next %}
        <a href="?page={{ show_list.next_page_number }}" class="item"><i class="chevron right icon"></i></a>
        <a href="?page={{ show_list.paginator.num_pages }}" class="item"><i class="step forward icon"></i></a>
    {% endif %}
</div>
{% endif %}
{% endif %}
{% endblock %}
