<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title>{% if year %}{{ year }}年{% endif %}数字专辑销售数据</title>
    <meta name="description" content="本站是一个数字专辑销售数据记录网站，在这里你可以查看数字专辑全平台销量。">
    <meta name="keywords" content="专辑,数字专辑,专辑销量,歌手销量">

    <link rel="stylesheet" type="text/css" href="https://lib.baomitu.com/semantic-ui/2.4.1/semantic.min.css">
    <script crossorigin="anonymous" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://lib.baomitu.com/semantic-ui/2.4.1/semantic.min.js"></script>

    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?5a23a22a8b0592235a20280da39e127b";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>
<body>
    <div class="ui blue three item inverted menu">
        {% if year %}<a href="/szzj" class="item">全部专辑</a>{% else %}<a href="/szzj" class="active item">全部专辑</a>{% endif %}
        <a href="/szzj/artist" class="item">歌手列表</a>
        <div class="ui dropdown item">
            {% if year %}{{ year }}年{% else %}选择年份{% endif %}<i class="dropdown icon"></i>
            <div class="menu">
                <a href="/szzj/2019" class="item">2019年</a>
                <a href="/szzj/2018" class="item">2018年</a>
                <a href="/szzj/2017" class="item">2017年</a>
                <a href="/szzj/2016" class="item">2016年</a>
                <a href="/szzj/2015" class="item">2015年</a>
                <a href="/szzj/2014" class="item">2014年</a>
            </div>
        </div>
    </div>
    <p>*大约30分钟更新一次。当前时间：{% now "SHORT_DATETIME_FORMAT" %}<br>
    *暂缺虾米音乐和咪咕音乐数据。咪咕音乐此前仅可获得《TO THE NINES》一张专辑的销售数据，目前也已无法获取，今后仅保留最后获得的销售数据200629张4012580.00元参与计算，不再显示链接。</p>
    <table class="ui blue unstackable table">
        <thead>
        <tr><th>专辑</th>
            <th>总销量（元）</th>
            <th>QQ音乐</th>
            <th>网易云音乐</th>
            <th>酷狗音乐</th>
            <th>酷我音乐</th>
        </tr></thead>
        <tbody>
        {% for album in album_list %}
        <tr>
            <td>
                <h4 class="ui header">
                    《{{ album.title }}》{{ album.artist.name }} <div class="sub header">{{ album.release_date }}&nbsp;&nbsp;{{ album.price }}元</div>
                </h4>
            </td>
            <td>{{ album.money }}</td>
            <td>
                {% if album.qq_id %}
                    {% if album.qq_id != 656743 %}
                    <a href="https://y.qq.com/m/digitalbum/gold/index.html?id={{ album.qq_id }}" target="_blank">
                    {% else %}
                    <a href="https://y.qq.com/m/digitalbum/silver/index.html?id={{ album.qq_id }}" target="_blank">
                    {% endif %}
                    {% if album.qq_count > 0 %}
                        {% if album.album_only %}{{ album.qq_count }}张{% else %}{{ album.qq_song_count }}首{% endif %}<br>{{ album.qq_money }}元
                    {% else %}
                        暂缺
                    {% endif %}
                    </a>
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if album.wyy_id %}
                    {% if album.wyy_id != 5856052 %}
                    <a href="https://music.163.com/store/newalbum/detail?id={{ album.wyy_id }}" target="_blank">
                    {% else %}
                    <a href="https://music.163.com/store/product/detail?id={{ album.wyy_id }}" target="_blank">
                    {% endif %}
                    {% if album.wyy_count > 0 %}
                        {% if album.album_only %}{{ album.wyy_count }}张{% else %}{{ album.wyy_song_count }}首{% endif %}<br>{{ album.wyy_money }}元
                    {% else %}
                        暂缺
                    {% endif %}
                    </a>
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if album.kugou_id %}
                    {% if album.kugou_id <= 69486 %}
                    <a href="http://zhuanji.kugou.com/html/mobile_commonchargeV2/index_{{ album.kugou_id }}.html" target="_blank">
                    {% else %}
                    <a href="http://zhuanjistatic.kugou.com/html/pc_commonchargeV3/index_{{ album.kugou_id }}.html" target="_blank">
                    {% endif %}
                    {% if album.kugou_count > 0 %}
                        {% if album.kugou_song_count == 0 %}{{ album.kugou_count }}张{% else %}{{ album.kugou_song_count }}首{% endif %}<br>{{ album.kugou_money }}元
                    {% else %}
                        暂缺
                    {% endif %}
                    </a>
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if album.kuwo_id %}
                    <a href="http://vip1.kuwo.cn/fans/fans/template/index.html?key={{ album.kuwo_id }}" target="_blank">
                    {% if album.kuwo_count > 0 %}
                        {% if album.album_only or album.kuwo_song_count == 0 %}{{ album.kuwo_count }}张{% else %}{{ album.kuwo_song_count }}首{% endif %}<br>{{ album.kuwo_money }}元
                    {% else %}
                        暂缺
                    {% endif %}
                    </a>
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $('.dropdown')
            .dropdown()
        ;
    </script>
</body>
</html>