{% extends "szzj/szzj_base.html" %}

{% block title %}{% if year %}{{ year }}年{% endif %}数字专辑销售数据{% endblock %}

{% block content %}
<p>*大约30分钟更新一次。当前时间：{% now "SHORT_DATETIME_FORMAT" %}
    <button class="ui right floated primary basic button">
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ request.path }}sales">按销量查询 <i class="long arrow alternate right icon"></i></a>
    </button>
<br>*不含虾米音乐数据。{% if year %}本页为该年份发行专辑的当前销售数据。{% endif %}
</p>
<table class="ui blue unstackable table">
    <thead>
    <tr>
        <th>专辑{% if not year %}&nbsp;<a href="/szzj/album/download" target="_blank" title="下载全部数据"><i class="black link download icon"></i></a>{% endif %}</th>
        <th>总销量（元）</th>
        <th>QQ音乐</th>
        <th>网易云音乐</th>
        <th>酷狗音乐</th>
        <th>酷我音乐</th>
        <th>咪咕音乐</th>
    </tr>
    </thead>
    <tbody>
    {% for album in albums %}
    <tr>
        <td>
            <h4 class="ui header">
                《<a href="/szzj/album/{{ album.id }}" target="_blank">{{ album.title }}</a>》<a href="/szzj/artist/{{ album.artist.id }}" target="_blank">{{ album.artist.name }}</a>
                <div class="sub header">{{ album.release_date }}&nbsp;&nbsp;{{ album.price }}元</div>
            </h4>
        </td>
        <td>{{ album.money }}</td>
        <td>
            {% if album.qq_id %}
                {% if album.qq_id != 656743 %}
                <a href="https://y.qq.com/m/digitalbum/gold/index.html?id={{ album.qq_id }}" target="_blank">
                {% else %}
                <a href="https://y.qq.com/m/digitalbum/silver/index.html?id={{ album.qq_id }}" target="_blank">
                {% endif %}
                {% if album.qq_count > 0 %}
                    {% if album.album_only %}{{ album.qq_count }}张{% else %}{{ album.qq_song_count }}首{% endif %}<br>{{ album.qq_money }}元
                {% else %}
                    暂缺
                {% endif %}
                </a>
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {% if album.wyy_id %}
                {% if album.wyy_id != 5856052 %}
                <a href="https://music.163.com/store/newalbum/detail?id={{ album.wyy_id }}" target="_blank">
                {% else %}
                <a href="https://music.163.com/store/product/detail?id={{ album.wyy_id }}" target="_blank">
                {% endif %}
                {% if album.wyy_count > 0 %}
                    {{ album.wyy_count }}张<br>{{ album.wyy_money }}元
                {% else %}
                    暂缺
                {% endif %}
                </a>
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {% if album.kugou_id %}
                {% if album.kugou_id <= 69486 %}
                <a href="http://zhuanji.kugou.com/html/mobile_commonchargeV2/index_{{ album.kugou_id }}.html" target="_blank">
                {% else %}
                <a href="http://zhuanjistatic.kugou.com/html/pc_commonchargeV3/index_{{ album.kugou_id }}.html" target="_blank">
                {% endif %}
                {% if album.kugou_count > 0 %}
                    {% if album.kugou_song_count == 0 %}{{ album.kugou_count }}张{% else %}{{ album.kugou_song_count }}首{% endif %}<br>{{ album.kugou_money }}元
                {% else %}
                    暂缺
                {% endif %}
                </a>
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {% if album.kuwo_id %}
                <a href="http://vip1.kuwo.cn/fans/fans/template/index.html?key={{ album.kuwo_id }}" target="_blank">
                {% if album.kuwo_count > 0 %}
                    {% if album.album_only or album.kuwo_song_count == 0 %}{{ album.kuwo_count }}张{% else %}{{ album.kuwo_song_count }}首{% endif %}<br>{{ album.kuwo_money }}元
                {% else %}
                    暂缺
                {% endif %}
                </a>
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {% if album.migu_id %}
                <a href="https://h5.nf.migu.cn/app/v3/p/digital-album/detail/index.html?id={{ album.migu_id }}" target="_blank">
                {% if album.migu_count > 0 %}
                    {{ album.migu_count }}张<br>{{ album.migu_money }}元
                {% else %}
                    暂缺
                {% endif %}
                </a>
            {% else %}
                -
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div class="ui pagination menu">
    {% for i in albums.paginator.page_range %}
        {% if i == albums.number %}
            <a href="?page={{ i }}" class="active item">{{ i }}</a>
        {% else %}
            <a href="?page={{ i }}" class="item">{{ i }}</a>
        {% endif %}
    {% endfor %}
</div>
<script>
{% if year %}
    $("[data-label='year']").text("{{ year }}年");
{% else %}
    $("[data-label='all']").attr("class","active item");
{% endif %}
</script>
{% endblock %}
