{% extends "szzj/szzj_base.html" %}

{% block title %}歌手列表{% endblock %}

{% block content %}
<p>*大约30分钟更新一次。当前时间：{% now "SHORT_DATETIME_FORMAT" %}<br>
*暂缺虾米音乐和咪咕音乐数据。咪咕音乐此前仅可获得《TO THE NINES》一张专辑的销售数据，目前也已无法获取，保留最后获得的销售数据200629张4012580.00元参与计算。<br>
*多人合作的数字专辑（单曲）单独列出，不计入歌手总销量。</p>
<table class="ui blue celled structured unstackable table">
    <thead>
    <tr>
        <th>歌手</th>
        <th>总销量（元）</th>
        <th>数字专辑</th>
    </tr>
    </thead>
    <tbody>
        {% for album in album_list %}
            {% if album.first %}
                </div></td></tr>
                <tr class="top aligned">
                    <td>{{ album.artist.name }}</td>
                    <td>{{ album.artist.money }}</td>
                    <td>
                    <div class="ui relaxed list">
                        <div class="item">
                            <div class="header">{{ album.title }}</div>
                            <div class="description">{{ album.release_date }}&nbsp;{{ album.money }}元</div>
                        </div>
            {% else %}
                <div class="item">
                <div class="header">{{ album.title }}</div>
                <div class="description">{{ album.release_date }}&nbsp;{{ album.money }}元</div>
                </div>
            {% endif %}
        {% endfor %}
        </div></td></tr>
    </tbody>
</table>
<script>
$(".menu:first a:eq(1)").attr("class","active item");
</script>
{% endblock %}
