{% extends "szzj/szzj_base.html" %}

{% block title %}歌手列表{% endblock %}

{% block content %}
<p>*大约30分钟更新一次。当前时间：{% now "SHORT_DATETIME_FORMAT" %}<br>
*不含虾米音乐和咪咕音乐数据。<br>
*多人合作的数字专辑（单曲）单独列出，不计入歌手总销量。</p>
<table class="ui blue celled structured unstackable table">
    <thead>
    <tr>
        <th>歌手</th>
        <th>总销量（元）</th>
        <th>数字专辑</th>
    </tr>
    </thead>
    <tbody>
        {% for album in album_list %}
            {% if album.first %}
                </div></td></tr>
                <tr class="top aligned">
                    <td><a href="/szzj/artist/{{ album.artist.id }}" target="_blank">{{ album.artist.name }}</a></td>
                    <td>{{ album.artist.money }}</td>
                    <td>
                    <div class="ui relaxed list">
                        <div class="item">
                            <div class="header"><a href="/szzj/album/{{ album.id }}" target="_blank">{{ album.title }}</a></div>
                            <div class="description">{{ album.release_date }}&nbsp;{{ album.money }}元</div>
                        </div>
            {% else %}
                <div class="item">
                    <div class="header"><a href="/szzj/album/{{ album.id }}" target="_blank">{{ album.title }}</a></div>
                    <div class="description">{{ album.release_date }}&nbsp;{{ album.money }}元</div>
                </div>
            {% endif %}
        {% endfor %}
        </div></td></tr>
    </tbody>
</table>
<script>
$("[data-label='artist']").attr("class","active item");
</script>
{% endblock %}
