<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title>歌手列表</title>
    <meta name="description" content="本站是一个数字专辑销售数据记录网站，在这里你可以查看数字专辑全平台销量。">
    <meta name="keywords" content="专辑,数字专辑,专辑销量,歌手销量">

    <link rel="stylesheet" type="text/css" href="https://lib.baomitu.com/semantic-ui/2.4.1/semantic.min.css">
    <script crossorigin="anonymous" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://lib.baomitu.com/semantic-ui/2.4.1/semantic.min.js"></script>

    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?5a23a22a8b0592235a20280da39e127b";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>
<body>
    <div class="ui blue three item inverted menu">
        <a href="/szzj" class="item">全部专辑</a>
        <a href="/szzj/artist" class="active item">歌手列表</a>
        <div class="ui dropdown item">
            选择年份<i class="dropdown icon"></i>
            <div class="menu">
                <a href="/szzj/2019" class="item">2019年</a>
                <a href="/szzj/2018" class="item">2018年</a>
                <a href="/szzj/2017" class="item">2017年</a>
                <a href="/szzj/2016" class="item">2016年</a>
                <a href="/szzj/2015" class="item">2015年</a>
                <a href="/szzj/2014" class="item">2014年</a>
            </div>
        </div>
    </div>
    <p>*大约30分钟更新一次。当前时间：{% now "SHORT_DATETIME_FORMAT" %}<br>
    *暂缺虾米音乐和咪咕音乐数据。咪咕音乐此前仅可获得《TO THE NINES》一张专辑的销售数据，目前也已无法获取，今后仅保留最后获得的销售数据200629张4012580.00元参与计算，不再显示链接。<br>
    *多人合作的数字专辑（单曲）单独列出，不计入歌手总销量。</p>
    <table class="ui blue celled structured unstackable table">
        <thead>
        <tr><th>歌手</th>
            <th>总销量（元）</th>
            <th>数字专辑</th>
        </tr>
        </thead>
        <tbody>
            {% for album in album_list %}
                {% if album.first %}
                    </div></td></tr>
                    <tr class="top aligned">
                    <td>{{ album.artist.name }}</td>
                    <td>{{ album.artist.money }}</td>
                    <td>
                    <div class="ui relaxed list">
                        <div class="item">
                            <div class="header">{{ album.title }}</div>
                            <div class="description">{{ album.release_date }}&nbsp;{{ album.money }}元</div>
                        </div>
                {% else %}
                        <div class="item">
                            <div class="header">{{ album.title }}</div>
                            <div class="description">{{ album.release_date }}&nbsp;{{ album.money }}元</div>
                        </div>
                {% endif %}
            {% endfor %}
            </div></td></tr>
        </tbody>
    </table>
    <script>
        $('.dropdown')
            .dropdown()
        ;
    </script>
</body>
</html>
