<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="本站是一个数字专辑销售数据和演唱会信息记录网站，在这里你可以查看数字专辑全平台销量和最新的演唱会信息。">
    <meta name="keywords" content="专辑,数字专辑,专辑销量,歌手销量,演唱会">

    <link rel="stylesheet" type="text/css" href="https://lib.baomitu.com/semantic-ui/2.4.1/semantic.min.css">
    <script crossorigin="anonymous" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://lib.baomitu.com/semantic-ui/2.4.1/semantic.min.js"></script>

    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?5a23a22a8b0592235a20280da39e127b";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>
<body>
<div class="ui small one item secondary menu">
    <div class="fitted item">
        <form action="/search/" class="ui action input">
            <input type="search" name="q" id="id_q" required="required" placeholder="搜索歌手、数字专辑">
            <button class="ui blue icon button" type="submit"><i class="search icon"></i></button>
        </form>
    </div>
</div>
<div class="ui message">
    <p>自2023年8月3日起暂停更新数字专辑和演唱会信息。</p>
</div>
{% block header %}{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
<div class="ui center aligned container">
    <p>©2018-2023 y.saoju.net&nbsp;&nbsp;&nbsp;&nbsp;邮箱：szzj@saoju.net</p>
</div>
</body>
</html>
