{% extends "szzj/yanchanghui_base.html" %}

{% block title %}{{ year }}年演唱会信息{% endblock %}

{% block content %}
<table class="ui blue unstackable table">
    <thead>
    <tr>
        <th>歌手</th>
        <th>场次</th>
        <th>演唱会</th>
    </tr>
    </thead>
    <tbody>
    {% for artist in artist_list %}
    <tr class="top aligned">
        <td><h4 class="ui header">{{ artist.name }}</h4></td>
        <td>{{ artist.num_concert }}</td>
        <td><div class="ui relaxed list">
            {% for concert in artist.concert_list %}
            <div class="item">
                <div class="header">{{ concert.tour.title }}-{{ concert.site.city.name }}站</div>
                <div class="description">{{ concert.date }}&nbsp;{{ concert.site.name }}</div>
            </div>
            {% endfor %}
        </div></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    $("[data-label='year']").text("{{ year }}年");
</script>
{% endblock %}
