{% extends "szzj/yanchanghui_base.html" %}

{% block title %}{{ year }}年演唱会信息{% endblock %}

{% block content %}
<p>
    <button class="ui right floated primary basic button">
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="/yanchanghui/{{ year }}">按歌手查询 <i class="long arrow alternate right icon"></i></a>
    </button>
    <br>&nbsp;&nbsp;&nbsp;&nbsp;总计：{{ num }}
</p>
<table class="ui blue unstackable table">
    <thead>
    <tr>
        <th>城市</th>
        <th>场次</th>
        <th>演唱会</th>
    </tr>
    </thead>
    <tbody>
    {% for city in city_list %}
    <tr class="top aligned">
        <td><h4 class="ui header"><a href="/yanchanghui/city/{{ city.id }}" target="_blank">{{ city.name }}</a></h4></td>
        <td>{{ city.num_concert }}</td>
        <td><div class="ui relaxed list">
            {% for concert in city.concert_list %}
            <div class="item">
                <div class="header"><a href="/szzj/artist/{{ concert.tour.artist.id }}" target="_blank">{{ concert.tour.artist.name }}</a>-{{ concert.tour.title }}</div>
                <div class="description">{{ concert.date }}&nbsp;{{ concert.site.name }}</div>
            </div>
            {% endfor %}
        </div></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    $("[data-label='year']").text("{{ year }}年");
</script>
{% endblock %}
