{% extends "szzj/yanchanghui_base.html" %}

{% block title %}演唱会信息{% endblock %}

{% block content %}
<table class="ui blue unstackable table">
    <thead>
    <tr>
        <th>演唱会</th>
        <th>时间</th>
        <th>场馆</th>
    </tr>
    </thead>
    <tbody>
    {% for concert in concert_list %}
    <tr>
        <td>
            <h4 class="ui header">
                {{ concert.tour.artist.name }}-{{ concert.tour.title }}-{{ concert.site.city.name }}站
            </h4>
        </td>
        <td>{{ concert.date }}</td>
        <td>{{ concert.site.name }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<script>
$(".menu:first a:eq(0)").attr("class","active item");
</script>
{% endblock %}
