{% extends "szzj/base.html" %}

{% block title %}最新数字专辑和演唱会信息{% endblock %}

{% block content %}
<div class="ui message">
    <p>新增数字专辑自2023年8月3日止。</p>
</div>
<div class="ui blue inverted four item menu">
  <a class="active item" href="/" target="_blank">最新</a>
  <a class="item" href="/szzj" target="_blank">数字专辑</a>
  <a class="item" href="/yanchanghui" target="_blank">演唱会</a>
  <a class="item" href="/yyj" target="_blank">音乐剧</a>
</div>
{% if album_info_list %}
<table class="ui blue table">
  <thead>
    <tr>
      <th>待发售数字专辑</th>
      <th>歌手</th>
      <th>发售时间</th>
      <th>发售平台</th>
    </tr>
  </thead>
  <tbody>
  {% for album in album_info_list %}
    <tr>
      <td>{{ album.title }}</td>
      <td>{{ album.artist.name }}</td>
      <td>{{ album.sale_time }}</td>
      <td>{{ album.info }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}
<table class="ui blue unstackable table">
    <thead>
    <tr>
        <th>最新数字专辑</th>
        <th>销量</th>
        <th>QQ音乐</th>
        <th>网易云音乐</th>
        <th>酷狗音乐</th>
        <th>酷我音乐</th>
        <th>咪咕音乐</th>
    </tr>
    </thead>
    <tbody>
    {% for album in album_list %}
    <tr>
        <td>
            <h4 class="ui header">
                《<a href="/szzj/album/{{ album.id }}" target="_blank">{{ album.title }}</a>》<a href="/szzj/artist/{{ album.artist.id }}" target="_blank">{{ album.artist.name }}</a>
                <div class="sub header">{{ album.release_date }}&nbsp;&nbsp;{{ album.price }}元</div>
            </h4>
        </td>
        <td>{{ album.count }}张<br>{{ album.money }}元</td>
        <td>
            {% if album.qq_id %}
                {% if album.qq_id != 656743 %}
                <a href="https://y.qq.com/m/digitalbum/gold/index.html?id={{ album.qq_id }}" target="_blank">
                {% else %}
                <a href="https://y.qq.com/m/digitalbum/silver/index.html?id={{ album.qq_id }}" target="_blank">
                {% endif %}
                {% if album.qq_count > 0 %}
                    {% if album.album_only %}{{ album.qq_count }}张{% else %}{{ album.qq_song_count }}首{% endif %}<br>{{ album.qq_money }}元
                {% else %}
                    暂缺
                {% endif %}
                </a>
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {% if album.wyy_id %}
                {% if album.wyy_id != 5856052 %}
                <a href="https://music.163.com/store/newalbum/detail?id={{ album.wyy_id }}" target="_blank">
                {% else %}
                <a href="https://music.163.com/store/product/detail?id={{ album.wyy_id }}" target="_blank">
                {% endif %}
                {% if album.wyy_count > 0 %}
                    {% if album.wyy_song_count == 0 %}{{ album.wyy_count }}张{% else %}{{ album.wyy_song_count }}首{% endif %}<br>{{ album.wyy_money }}元
                {% else %}
                    暂缺
                {% endif %}
                </a>
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {% if album.kugou_id %}
                {% if album.kugou_id <= 69486 %}
                <a href="http://zhuanji.kugou.com/html/mobile_commonchargeV2/index_{{ album.kugou_id }}.html" target="_blank">
                {% else %}
                <a href="http://zhuanjistatic.kugou.com/html/pc_commonchargeV3/index_{{ album.kugou_id }}.html" target="_blank">
                {% endif %}
                {% if album.kugou_count > 0 %}
                    {% if album.kugou_song_count == 0 %}{{ album.kugou_count }}张{% else %}{{ album.kugou_song_count }}首{% endif %}<br>{{ album.kugou_money }}元
                {% else %}
                    暂缺
                {% endif %}
                </a>
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {% if album.kuwo_id %}
                <a href="http://vip1.kuwo.cn/fans/fans/template/index.html?key={{ album.kuwo_id }}" target="_blank">
                {% if album.kuwo_count > 0 %}
                    {% if album.album_only or album.kuwo_song_count == 0 %}{{ album.kuwo_count }}张{% else %}{{ album.kuwo_song_count }}首{% endif %}<br>{{ album.kuwo_money }}元
                {% else %}
                    暂缺
                {% endif %}
                </a>
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {% if album.migu_id %}
                <a href="https://h5.nf.migu.cn/app/v3/p/digital-album/detail/index.html?id={{ album.migu_id }}" target="_blank">
                {% if album.migu_count > 0 %}
                    {{ album.migu_count }}张<br>{{ album.migu_money }}元
                {% else %}
                    暂缺
                {% endif %}
                </a>
            {% else %}
                -
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div class="ui basic segment">
    <h3 class="ui blue header">今日销量
        <div class="ui sub header">*今日销量按最近一次获取到的数据减去今日0点左右获取到的数据计算，非准确数据。从0点30分起，大约半小时更新一次。{% if latest_time %}最近更新：{{ latest_time }}{% endif %}</div>
    </h3>
</div>
<table class="ui blue unstackable table">
    <thead>
    <tr>
        <th>数字专辑</th>
        <th>今日销量</th>
        <th>QQ音乐</th>
        <th>网易云音乐</th>
        <th>酷狗音乐</th>
        <th>酷我音乐</th>
        <th>咪咕音乐</th>
    </tr>
    </thead>
    <tbody>
    {% for data in top_album_list %}
    <tr>
        <td>
            <h4 class="ui header">
                《<a href="/szzj/album/{{ data.album.id }}" target="_blank">{{ data.album.title }}</a>》<a href="/szzj/artist/{{ data.album.artist.id }}" target="_blank">{{ data.album.artist.name }}</a>
                <div class="sub header">{{ data.album.release_date }}&nbsp;&nbsp;{{ data.album.money }}元</div>
            </h4>
        </td>
        <td>{{ data.count }}张<br>{{ data.money }}元</td></td>
        <td>
            {% if data.album.qq_id %}
                {% if data.album.qq_id != 656743 %}
                <a href="https://y.qq.com/m/digitalbum/gold/index.html?id={{ data.album.qq_id }}" target="_blank">
                {% else %}
                <a href="https://y.qq.com/m/digitalbum/silver/index.html?id={{ data.album.qq_id }}" target="_blank">
                {% endif %}
                    {% if data.album.album_only %}{{ data.qq_count }}张{% else %}{{ data.qq_song_count }}首{% endif %}<br>{{ data.qq_money }}元
                </a>
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {% if data.album.wyy_id %}
                {% if data.album.wyy_id != 5856052 %}
                <a href="https://music.163.com/store/newalbum/detail?id={{ data.album.wyy_id }}" target="_blank">
                {% else %}
                <a href="https://music.163.com/store/product/detail?id={{ data.album.wyy_id }}" target="_blank">
                {% endif %}
                    {% if data.wyy_song_count == 0 %}{{ data.wyy_count }}张{% else %}{{ data.wyy_song_count }}首{% endif %}<br>{{ data.wyy_money }}元
                </a>
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {% if data.album.kugou_id %}
                {% if data.album.kugou_id <= 69486 %}
                <a href="http://zhuanji.kugou.com/html/mobile_commonchargeV2/index_{{ data.album.kugou_id }}.html" target="_blank">
                {% else %}
                <a href="http://zhuanjistatic.kugou.com/html/pc_commonchargeV3/index_{{ data.album.kugou_id }}.html" target="_blank">
                {% endif %}
                    {% if data.kugou_song_count == 0 %}{{ data.kugou_count }}张{% else %}{{ data.kugou_song_count }}首{% endif %}<br>{{ data.kugou_money }}元
                </a>
            {% elif data.album.kugou_album_id %}
                {{ data.kugou_count }}张<br>{{ data.kugou_money }}元
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {% if data.album.kuwo_id %}
                <a href="http://vip1.kuwo.cn/fans/fans/template/index.html?key={{ data.album.kuwo_id }}" target="_blank">
                    {% if data.album.album_only or data.kuwo_song_count == 0 %}{{ data.kuwo_count }}张{% else %}{{ data.kuwo_song_count }}首{% endif %}<br>{{ data.kuwo_money }}元
                </a>
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {% if data.album.migu_id %}
                <a href="https://h5.nf.migu.cn/app/v3/p/digital-album/detail/index.html?id={{ data.album.migu_id }}" target="_blank">
                    {{ data.migu_count }}张<br>{{ data.migu_money }}元
                </a>
            {% else %}
                -
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table class="ui blue unstackable table">
    <thead>
    <tr>
        <th>新增演唱会</th>
        <th>时间</th>
        <th>场馆</th>
    </tr>
    </thead>
    <tbody>
    {% for concert in new_concert_list %}
    <tr>
        <td>
            <h4 class="ui header">
                <a href="/szzj/artist/{{ concert.tour.artist.id }}" target="_blank">{{ concert.tour.artist.name }}</a>-{{ concert.tour.title }}-{{ concert.site.city.name }}站
            </h4>
        </td>
        <td>{{ concert.date|date:"Y年n月j日" }}</td>
        <td><a href="/yanchanghui/site/{{ concert.site.id }}" target="_blank">{{ concert.site.name }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table class="ui blue unstackable table">
    <thead>
    <tr>
        <th>近期演唱会</th>
        <th>时间</th>
        <th>场馆</th>
    </tr>
    </thead>
    <tbody>
    {% for concert in concert_list %}
    <tr>
        <td>
            <h4 class="ui header">
                <a href="/szzj/artist/{{ concert.tour.artist.id }}" target="_blank">{{ concert.tour.artist.name }}</a>-{{ concert.tour.title }}-{{ concert.site.city.name }}站
            </h4>
        </td>
        <td>{{ concert.date }}</td>
        <td><a href="/yanchanghui/site/{{ concert.site.id }}" target="_blank">{{ concert.site.name }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
