{% extends "szzj/base.html" %}

{% block title %}最新数字专辑和演唱会信息{% endblock %}

{% block content %}
<div class="ui blue inverted three item menu">
  <a class="active item" href="/" target="_blank">最新</a>
  <a class="item" href="/szzj" target="_blank">数字专辑销售数据</a>
  <a class="item" href="/yanchanghui" target="_blank">演唱会信息</a>
</div>
{% if album_info_list %}
<table class="ui blue table">
  <thead>
    <tr>
      <th>待发售数字专辑</th>
      <th>歌手</th>
      <th>发售时间</th>
      <th>发售平台</th>
    </tr>
  </thead>
  <tbody>
  {% for album in album_info_list %}
    <tr>
      <td>{{ album.title }}</td>
      <td>{{ album.artist.name }}</td>
      <td>{{ album.sale_time }}</td>
      <td>{{ album.info }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}
<table class="ui blue unstackable table">
    <thead>
    <tr>
        <th>最新数字专辑</th>
        <th>销量</th>
        <th>QQ音乐</th>
        <th>网易云音乐</th>
        <th>酷狗音乐</th>
        <th>酷我音乐</th>
    </tr>
    </thead>
    <tbody>
    {% for album in album_list %}
    <tr>
        <td>
            <h4 class="ui header">
                《{{ album.title }}》{{ album.artist.name }} <div class="sub header">{{ album.release_date }}&nbsp;&nbsp;{{ album.price }}元</div>
            </h4>
        </td>
        <td>{{ album.count }}张<br>{{ album.money }}元</td>
        <td>
            {% if album.qq_id %}
                {% if album.qq_id != 656743 %}
                <a href="https://y.qq.com/m/digitalbum/gold/index.html?id={{ album.qq_id }}" target="_blank">
                {% else %}
                <a href="https://y.qq.com/m/digitalbum/silver/index.html?id={{ album.qq_id }}" target="_blank">
                {% endif %}
                {% if album.qq_count > 0 %}
                    {% if album.album_only %}{{ album.qq_count }}张{% else %}{{ album.qq_song_count }}首{% endif %}<br>{{ album.qq_money }}元
                {% else %}
                    暂缺
                {% endif %}
                </a>
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {% if album.wyy_id %}
                {% if album.wyy_id != 5856052 %}
                <a href="https://music.163.com/store/newalbum/detail?id={{ album.wyy_id }}" target="_blank">
                {% else %}
                <a href="https://music.163.com/store/product/detail?id={{ album.wyy_id }}" target="_blank">
                {% endif %}
                {% if album.wyy_count > 0 %}
                    {% if album.album_only %}{{ album.wyy_count }}张{% else %}{{ album.wyy_song_count }}首{% endif %}<br>{{ album.wyy_money }}元
                {% else %}
                    暂缺
                {% endif %}
                </a>
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {% if album.kugou_id %}
                {% if album.kugou_id <= 69486 %}
                <a href="http://zhuanji.kugou.com/html/mobile_commonchargeV2/index_{{ album.kugou_id }}.html" target="_blank">
                {% else %}
                <a href="http://zhuanjistatic.kugou.com/html/pc_commonchargeV3/index_{{ album.kugou_id }}.html" target="_blank">
                {% endif %}
                {% if album.kugou_count > 0 %}
                    {% if album.kugou_song_count == 0 %}{{ album.kugou_count }}张{% else %}{{ album.kugou_song_count }}首{% endif %}<br>{{ album.kugou_money }}元
                {% else %}
                    暂缺
                {% endif %}
                </a>
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {% if album.kuwo_id %}
                <a href="http://vip1.kuwo.cn/fans/fans/template/index.html?key={{ album.kuwo_id }}" target="_blank">
                {% if album.kuwo_count > 0 %}
                    {% if album.album_only or album.kuwo_song_count == 0 %}{{ album.kuwo_count }}张{% else %}{{ album.kuwo_song_count }}首{% endif %}<br>{{ album.kuwo_money }}元
                {% else %}
                    暂缺
                {% endif %}
                </a>
            {% else %}
                -
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
