{% extends "szzj/base.html" %}

{% block title %}{{ 搜索结果 }}{% endblock %}

{% block content %}
<div class="ui blue inverted three item menu">
  <a class="item" href="/">最新</a>
  <a class="item" href="/szzj">数字专辑销售数据</a>
  <a class="item" href="/yanchanghui">演唱会信息</a>
</div>
<div class="ui basic segment">
    {% if artist_list %}
    <h2 class="ui header">歌手</h2>
    <div class="ui list">
    {% for artist in artist_list %}
        <div class="item"><a href="/szzj/artist/{{ artist.id }}">{{ artist.name }}</a></div>
    {% endfor %}
    </div>
    {% endif %}
    {% if album_list %}
    <h2 class="ui header">数字专辑</h2>
    <div class="ui list">
    {% for album in album_list %}
    <div class="item"><a href="/szzj/album/{{ album.id }}">{{ album.title }}</a> - <a href="/szzj/artist/{{ album.artist.id }}">{{ album.artist.name }}</a></div>
    {% endfor %}
    </div>
    {% endif %}
    {% if not album_list and not artist_list %}
    <p>抱歉，未找到结果。</p>
    {% endif %}
</div>
{% endblock %}
