{% extends "szzj/yanchanghui_base.html" %}

{% block title %}场馆列表{% endblock %}

{% block content %}
<table class="ui blue unstackable table">
    <thead>
    <th>城市</th>
    <th>场馆</th>
    <th>座位数</th>
    </tr></thead>
    <tbody>
    {% for site in site_list %}
    <tr>
        <td><h4 class="ui header">{{ site.city.name }}</h4></td>
        <td><h4 class="ui header"><a href="/yanchanghui/site/{{ site.id }}" target="_blank">{{ site.name }}</a></h4></td>
        <td>{{ site.seats }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<script>
$("[data-label='site']").attr("class","active item");
</script>
{% endblock %}
