{% extends "szzj/base.html" %}

{% block header %}
<div class="ui blue four item inverted menu">
    <a href="/" class="item" data-label="new">最新</a>
    <div class="ui dropdown item">
        <div data-label="year">选择年份</div><i class="dropdown icon"></i>
        <div class="menu">
            <a href="/szzj/today" class="item">今日销量</a>
            <a href="/szzj/2022" class="item">2022年</a>
            <a href="/szzj/2021" class="item">2021年</a>
            <a href="/szzj/2020" class="item">2020年</a>
            <a href="/szzj/2019" class="item">2019年</a>
            <a href="/szzj/2018" class="item">2018年</a>
            <a href="/szzj/2017" class="item">2017年</a>
            <a href="/szzj/2016" class="item">2016年</a>
            <a href="/szzj/2015" class="item">2015年</a>
            <a href="/szzj/2014" class="item">2014年</a>
        </div>
    </div>
    <a href="/szzj" class="item" data-label="all">全部专辑</a>
    <a href="/szzj/artist" class="item" data-label="artist">歌手列表</a>
</div>
{% endblock %}

{% block footer %}
<script>
    $('.dropdown')
        .dropdown()
    ;
</script>
{% endblock %}
