{% extends "szzj/base.html" %}

{% block header %}
<div class="ui blue three item inverted menu">
    <a href="/yanchanghui" class="item" data-label="new">最新演唱会</a>
    <div class="ui dropdown item">
        <div  data-label="year">选择年份</div><i class="dropdown icon"></i>
        <div class="menu">
            <a href="/yanchanghui/2020" class="item">2020年</a>
            <a href="/yanchanghui/2019" class="item">2019年</a>
            <a href="/yanchanghui/2018" class="item">2018年</a>
        </div>
    </div>
    <a href="/yanchanghui/site" class="item" data-label="site">场馆列表</a>
</div>
{% endblock %}

{% block footer %}
<script>
    $('.dropdown')
        .dropdown()
    ;
</script>
{% endblock %}
